body {
  background-color: #000000;
  color: #C0CAF5 !important;
}

a {
  border-bottom: 0px solid var(--darkMaincolor);
  color: inherit;
}

a:hover {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  color: #ffffff !important;
}

.tags a {
  border-bottom: 0px solid var(--darkMaincolor);
}

.tags a:hover {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  color: #ffffff !important;
}

header .main{
  font-weight: 900;
  font-size: 32px;
}
header nav{
  font-weight: 900;
  font-size: 20px;
}
