body {
  background-color: #000000;
}
a {
  border-bottom: 0px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  color: #ffffff;
}
.tags a {
  border-bottom: 0px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  color: black;
}
